# Cleaning Sewa Environment Example
EXPO_PUBLIC_SUPABASE_URL=https://idzvconrzundcqkiibmh.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
EXPO_PUBLIC_ADMIN_PHONE=9852024365
EXPO_PUBLIC_ADMIN_PIN=1234
EXPO_PUBLIC_CONTACT_EMAIL=cleaningsewa@sriyog.com
EXPO_PUBLIC_CONTACT_PHONE=+9779851152774
EXPO_PUBLIC_ESEWA_CLIENT_ID=JB0BBAsADhIHBxkMEBYSMh0MHQ==
EXPO_PUBLIC_ESEWA_SECRET_KEY=BhwWSxM2BxAHDhYbBxMGAhMLBxAHDhYbBxMGAhMLBxA=
